# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
myenv/

# Environment variables
.env

# MLflow
mlruns/

# Models
model/
registered_model/
*.joblib
*.pkl
*.skops
*.onnx

# Results
results/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db